<!-- WebPage JSON-LD (sitewide) -->
{% assign page_schema_type = page.schema_type | default: 'WebPage' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{ page_schema_type | jsonify }},
  "@id": "{{ canonical_url }}#webpage",
  "url": "{{ canonical_url }}",
  "name": {{ seo_title | strip | jsonify }},
  "description": {{ seo_description | jsonify }},
  "inLanguage": {{ site.lang | jsonify }},
  {% if page.date_created %}"dateCreated": {{ page.date_created | date_to_xmlschema | jsonify }},{% endif %}
  {% if page.last_modified_at %}"dateModified": {{ page.last_modified_at | date_to_xmlschema | jsonify }},{% endif %}
  "isPartOf": {
    "@id": "{{ '/#website' | absolute_url }}"
  },
  "author": {
    "@id": "{{ '/#person' | absolute_url }}"
  }{% if page.url == '/' or page.url == '/about/' %},
  "mainEntity": {
    "@id": "{{ '/#person' | absolute_url }}"
  }{% endif %}
}
</script>
